@import "tailwindcss";

body {
  margin: 0;
  font-size: 1vw;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Home page */
/* Home page top bar */

.home-container{
  background-color: #F0F1FF;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.gray-hover:hover{
  background-color: #E8E8E8;
}

.home-page{
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  flex-grow: 1;
}

.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-letter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-header{
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.left-header-workspace{
  display: flex;
  align-items: center;
  background-color: #DADBE8;
  gap: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

.left-header-workspace > .box-letter{
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.5em;
  color: white;
  background-color: #0E9888;
}

.left-header-icon{
  display: flex;
  gap: 2em;
  align-items: center;
}

.left-header-icon div:first-child{
  height: 1em;
  border-left: 0.1px groove gray;
}

.left-header-icon > div{
  padding: 0.2em;
}

.center-header{
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em;
}

.center-header-searchbar{
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: max(300px, 30em);
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1px groove #E8E8E8;
}

.center-header-searchbar > img{
  width: 1.5em;
}

.searchbar-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar-text > p {
  margin: 0;
}

.center-header-task{
  background-color: white;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1px groove #E8E8E8;
}

.center-header-task > .box-letter{
  background-color: #5A43D6;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.center-header-task img{
  width: 0.8em;
}


.right-header{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.right-header-icons{
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.right-header-icons > div{
  padding: 0.2em;
}

.right-header-icons img {
  width: 1em;
}

.right-header-options{
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5em;
  border-radius: 1em;
}

.right-header-options > .box-letter{
  position: relative;
  background-color: #5A43D6;
  color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.right-header-status{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.5em;
  height: 0.5em;
  background-color: green;
  border: 0.2em solid #F0F1FF;
  border-radius: 50%;
}

.right-header-options > img {
  width: 0.5em;
}

/* Home page side bar */

.home-content{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 0.2em 0em;
}

.white-active{
  background-color: white;
}

.sidebar-hover:hover{
  background-color: #554D88;
}

.sidebar-hover-child:hover > div:first-child{
  background-color: #554D88;
}

.sidebar-container{
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  background-color: #2B216A;
  padding-top: 0.5em;
  border-radius: 0.5em;
  color: white;
  font-weight: 1000;
}

.sidebar-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.sidebar-navigate{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.sidebar-navigate > div {
  padding: 0.5em;
  border-radius: 0.5em;
}

.sidebar-navigate > p {
  margin: 0;
}

.sidebar-bottom{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-invite{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.1px groove gray;
}

.sidebar-invite-image{
  position: relative;
  border-radius: 0.5em;
}

.sidebar-invite-image > img:nth-child(2){
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 50px;
  height: 1em;
}

.sidebar-invite > p{
  margin: 0.5em 0em;
}

.sidebar-settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0em;
  gap: 0.5em;
}

.sidebar-settings > div {
  padding: 0.2em;
  border-radius: 0.5em;
}

/* Home page side content */
.side-container{
  margin-left: 1em;
  background-color: white;
  padding: 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 0.1px groove #E8E8E8;
  width: max(15em, 150px);
}

.side-container p{
  margin: 0;
}

.side-container img{
  width: 1em;
}

.side-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.side-header-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.side-header-close{
  padding: 0.2em;
  border-radius: 0.2em;
}
.side-header-close:hover{
  background-color: #F0F0F0;
}

.side-header-icon > .box-letter{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: white;
  background-color: #5A43D6;
}

.side-header-icon > .box-letter:hover{
  background-color: #553ED0;
}

.side-content{
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 0.5em;
  padding: 0.2em 0.5em;
  color: gray;
  font-weight: 400;
  border-radius: 0.5em;
}

.side-content-active{
  background-color: #E5E6FF;
}

.side-content:hover{
  background-color: #E0E0E0;
}

.side-content-active:hover{
  background-color: #E5E6FF;
}
